@media (max-width:100%) {
    #header{
        padding: 0px 1px
    }
    #wp-products{
        width: 900px;
        padding-left: 50px;
    }
    #saleoff .box-right{
        width: 70%;
    }
    #comment-body{
        width: 81%;
    }
    #comment h2{
        padding-right: 180px;
    }
    #list-comment .item .text {     
        padding-right: 200px;   
    }
    #footer {
        padding: 0px 10px;
        padding-top: 15px;
    }

}
@media (max-width:850px) {
    #header{
        padding: 0px 1px
    }
    #banner{
        width: 130%;
    }
    #wp-products{
        width: 150%;
        padding-left: 5px;
        padding-right: 150px;
    }
    #saleoff .box-right{
        padding: 0px 420px;
    }
    #comment-body{
        width: 105%;
    }
    #list-comment .item .text {     
        padding-left: 280px;
    }
    #footer {
        width: 130%;
        padding: 0px 1px;
        padding-top: 15px;
    }
    .row{
        width: 130%;
    }

}
@media (max-width:750px) {
    #header{
        padding: 0px 1px
    }
    #wp-products{
        width: 900px;
        padding-left: 50px;
    }
    #saleoff .box-right{
        width: 70%;
    }
    #comment-body{
        width: 81%;
    }
    #comment h2{
        padding-right: 180px;
    }
    #list-comment .item .text {     
        padding-right: 200px;   
    }
    #footer {
        padding: 0px 10px;
        padding-top: 15px;
    }

}
@media (max-width:550px) {
    #header{
        padding: 0px 1px
    }
    #wp-products{
        width: 900px;
        padding-left: 50px;
    }
    #saleoff .box-right{
        width: 70%;
    }
    #comment-body{
        width: 81%;
    }
    #comment h2{
        padding-right: 180px;
    }
    #list-comment .item .text {     
        padding-right: 200px;   
    }
    #footer {
        padding: 0px 10px;
        padding-top: 15px;
    }

}
@media (max-width:350px) {
    #header{
        padding: 0px 1px
    }
    #wp-products{
        width: 900px;
        padding-left: 50px;
    }
    #saleoff .box-right{
        width: 70%;
    }
    #comment-body{
        width: 81%;
    }
    #comment h2{
        padding-right: 180px;
    }
    #list-comment .item .text {     
        padding-right: 200px;   
    }
    #footer {
        padding: 0px 10px;
        padding-top: 15px;
    }
}